<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmdKdaEBNWXUv2070Ew-a-5ibqwPfAuX8</string>
	<key>GCM_SENDER_ID</key>
	<string>325798641220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jonathanlemaine.EyFamilly</string>
	<key>PROJECT_ID</key>
	<string>eyfamily-1521e</string>
	<key>STORAGE_BUCKET</key>
	<string>eyfamily-1521e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:325798641220:ios:ae08df50e3efe04439c611</string>
</dict>
</plist>
